body{
    margin: 0;
    padding: 0;
    font-family: face;
    
    

}
@font-face {
    font-family: face;
    src: url(gothamssm_light.otf);
}

.navbar{
    display: flex;
    flex-direction: row;
    height: 56px;
    width: 100%;
    background-color: none;
    justify-content: space-between;
    


}
.icon{
    width: 120px;
    height: 15px;
    padding-top: 20px;
    padding-left: 50px;
    
    
}
.logo{
    align-items: center;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    align-items: start;

}  
.center{
    display: flex;
    flex-direction: row;
    width: 460px;
    justify-content: space-between;
    align-items: center;
    
}
.linkcolor{
    text-decoration: none;
    color: black;
}
.list{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    font-size: 14px;
    list-style: none;
    width: 460px;
    color: black;
    
}
.rhs{
    display: flex;
    flex-direction: row;
    width: 106px;
    padding-right: 40px;
}
.rhs-icons{
    margin-top: 14px;
    margin-right: 8px;
    margin-left: 8px;
}

.first{
    width: 100%;
    height: 690px;
}
.my{
    width: 100%;
    height: 695.4px;
    object-fit: cover;
    position: absolute;
}
.caption{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 66.36px;

    

    
}
h1{
    margin: 0;
}
.head3{
    color: white;
}
.caption2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 130px;
}
    

.data{
    position: relative;
}
.secondline{
    display: flex;
    flex-direction: column;
    align-items: center;
    



}
.secondline3{
    display: flex;
    flex-direction: column;
    align-items: center;


}
.small{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
}
.small3{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
}
p{
    margin: 0;
}

.sec{
    font-size: 17px;
    font-weight: 600;
}
.thrice{
    font-size: 10.2px;
    padding-top: 8px;
    
}
.sec3{
    font-size: 17px;
    color: white;
    padding-top: 8px;
}
.thrice3{
    font-size: 10.2px;
    color: white;
    padding-top: 8px;
    
}


.head h1{
    margin: 0;
}
.head3 h1{
    margin: 0;
}
.button-position{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 330px;
    
    
}
.button-position2{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 330px;
    padding-bottom: 84px;
    
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 552px;
}

.b1a{
    width: 264px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: 550;
    font: face;
    transition: 0.4s;
}
.accessbutton{
    width: 264px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: 550;
    font: face;
    transition: 0.4s;
}

.b1{
    font: face;
}
.b2a{
    width: 264px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: 550;
    font: face;
    color: white;
    background-color: black;
    transition: 0.4s;
}
.b2{
    font: face;
}
.b1a:hover{
    cursor: pointer;
    background-color: lightgray;
}
.accessbutton:hover{
    cursor: pointer;
    background-color: lightgray;
}
.b2a:hover{

    background-color: rgb(62, 62, 62);
    cursor: pointer;
}
.m3{
    width: 100%;
    object-fit: cover;
    height: 690px;
    position: absolute;
}
.data2{
    position: relative;
    align-items: center;
}
.model3{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
}
.b13{
    width: 264px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: 550;
    font: face;
    transition: 0.4s;
}
.top{
    margin-top: 40px;
}
.vehicles{
    height: 100%;
    width: 100%;
    background-color: none;
}
.truck1{
    width: 264px;
    height: 40px;
    border: none;
    font-size: 14px;
    font-weight: 550;
    font: face;
    transition: 0.4s;
    background-color: rgb(19, 19, 19);
    color: white;
    opacity: .9;
    border-top: 2;
    border-bottom:5 ;
    border-color: white;

}
.truck1:hover{
   background-color: rgb(24, 23, 24);
   opacity: .8;
}
.truck1:active{
    border: white;
    border-width: 5px;
}
.truck2:hover{
    opacity:5;
}
.truck2{
    width: 264px;
    height: 40px;
    border: none;
    font-size: 14px;
    font-weight: 550;
    font: face;
    transition: 0.4s;
    background-color: black;
    color: white;
    opacity: .7;

}

.buttonsc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 552px;
    
    
  
}
.position{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 300px;
    
    
    width: 100%;
}
.cyber{
    width: 449.97px;
    height: 126.58px;
}
.cylogo{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding-top: 111.36px;
}
.lastpart{
    color: white;
    background-color: black;
    font-size: 12px;
}
.sec-quote{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    color: white;
    text-decoration: white;
    font-size: 12px;
    padding-top: 6px;
}
.first-colab{
    display: flex;
    flex-direction:row;
    align-items: center;

    
}
.first-position{
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
}
.lastpart{
    padding-top: 52px;
    padding-bottom: 20px;
}
.conclusion{
    display:flex ;
    flex-direction: row;
    color: white;
    background-color: black;
    height: 70px;
    align-items: center;
    font-size: 12px;
    width: 585.13;
    padding: 0px 464.8px;
    justify-content: space-between;


}
.ch:hover{
    cursor: pointer;
}
.black{
    padding-top: 48px;
    background-color: black;
}
h1{
    font-size: 36px;
    font-weight: 900px;
}
